.pane {
    -fx-background-size: 650px;
    -fx-background-color: #000080 ;
    -fx-background-image: url("board1.jpeg");
}

.rect{
    -fx-fill: #800000 ;
    -fx-cursor: hand;
}


.button1{
    -fx-text-fill:#FFF8DC ;
    -fx-background-color: #708090   ;
    -fx-border-radius: 200;
    -fx-background-radius: 200;
    -fx-padding: 5;
    -fx-font: bold italic 15pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black ,20 , 0.0 , 9 , 0 );

}

.label{
    -fx-font-size: 20px;
    -fx-border-radius: 200;
    -fx-background-radius: 200;

    -fx-text-fill:   white ;
    -fx-background-color: #800000  ;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.label1{
    -fx-font-size: 20px;
    -fx-border-radius: 200;
    -fx-background-radius: 200;

    -fx-text-fill:   white ;
    -fx-background-color: #000000  ;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}



.field{

    -fx-background-color:#FFFAF0   ;
    -fx-text-fill:#800000;
}

.text1{

    -fx-font-weight: bold;



    -fx-font: 50px Tahoma;
    /* -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, white 0%, #800000 50%); */
    -fx-fill:#800000;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}


.text{
    -fx-fill: white;
    -fx-alignment: center;
    -fx-font-size: 40px;
    /*-fx-font: Tahoma, Geneva,sans-serif;*/
    -fx-font: Dialoginput;
}

.button1:hover {
    -fx-effect: innershadow(gaussian,  #000000 , 15, 0, 0, 0);
}

.buttonsStyle{
    
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill:white;
    -fx-font-size: 50px;
   
}
/*******************/
.table-view{
   -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
/**********************/